# Baseline Model

## Data Loading and Overview

In [1]:
%load_ext autoreload 
%autoreload 2

In [2]:
import pandas as pd 
import numpy as np

In [3]:
import os

project_dir = os.path.dirname(os.getcwd()) 
data_dir = os.path.join(project_dir, "data") 
raw_data_dir = os.path.join(data_dir, "raw") 

df = pd.read_csv(os.path.join(raw_data_dir, "yellow_tripdata_2020-04.csv"), index_col=0)

/tmp/ipykernel_17819/2788472959.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_data_dir, "yellow_tripdata_2020-04.csv"), index_col=0)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-04-01 00:41:22,2020-04-01 01:01:53,1.0,1.20,1.0,N,41,24,2.0,5.5,0.5,0.5,0.00,0.0,0.3,6.80,0.0
1,1.0,2020-04-01 00:56:00,2020-04-01 01:09:25,1.0,3.40,1.0,N,95,197,1.0,12.5,0.5,0.5,2.75,0.0,0.3,16.55,0.0
2,1.0,2020-04-01 00:00:26,2020-04-01 00:09:25,1.0,2.80,1.0,N,237,137,1.0,10.0,3.0,0.5,1.00,0.0,0.3,14.80,2.5
3,1.0,2020-04-01 00:24:38,2020-04-01 00:34:38,0.0,2.60,1.0,N,68,142,1.0,10.0,3.0,0.5,1.00,0.0,0.3,14.80,2.5
4,2.0,2020-04-01 00:13:24,2020-04-01 00:18:26,1.0,1.44,1.0,Y,263,74,1.0,6.5,0.5,0.5,3.00,0.0,0.3,13.30,2.5

In [5]:
df.shape

(237993, 18)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237993 entries, 0 to 237992
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               218480 non-null  float64
 1   tpep_pickup_datetime   237993 non-null  object
 2   tpep_dropoff_datetime  237993 non-null  object
 3   passenger_count        218480 non-null  float64
 4   trip_distance          237993 non-null  float64
 5   RatecodeID             218480 non-null  float64
 6   store_and_fwd_flag     218480 non-null  object
 7   PULocationID           237993 non-null  int64
 8   DOLocationID           237993 non-null  int64
 9   payment_type           218480 non-null  float64
 10  fare_amount            237993 non-null  float64
 11  extra                  237993 non-null  float64
 12  mta_tax                237993 non-null  float64
 13  tip_amount             237993 non-null  float64
 14  tolls_amount           237993 non-null  float64
 15  improvement_surcharge  237993 non-null  float64
 16  total_amount           237993 non-null  float64
 17  congestion_surcharge   237993 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 34.5+ MB

In [7]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,218480.000000,218480.000000,237993.000000,218480.000000,237993.000000,237993.000000,218480.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000,237993.000000
mean,1.564949,1.296764,4.039981,1.034081,154.908422,150.361414,1.425673,11.666027,1.066739,0.487000,1.530229,0.220504,0.296331,16.408621,1.927536
std,0.495765,0.983595,294.879052,0.865044,70.749496,74.474108,0.555915,11.728767,1.260170,0.094993,2.295523,1.342351,0.045429,13.155858,1.072839
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-118.000000,-4.500000,-0.500000,-5.000000,-19.870000,-0.300000,-138.170000,-2.500000
25%,1.000000,1.000000,0.950000,1.000000,97.000000,75.000000,1.000000,5.500000,0.000000,0.500000,0.000000,0.000000,0.300000,9.800000,2.500000
50%,2.000000,1.000000,1.740000,1.000000,143.000000,143.000000,1.000000,8.000000,0.500000,0.500000,1.000000,0.000000,0.300000,12.800000,2.500000
75%,2.000000,1.000000,3.400000,1.000000,234.000000,233.000000,2.000000,13.000000,2.500000,0.500000,2.460000,0.000000,0.300000,18.360000,2.500000
max,2.000000,7.000000,126501.770000,99.000000,265.000000,265.000000,4.000000,903.020000,7.000000,1.100000,117.280000,98.750000,0.300000,903.320000,2.500000

## Data Preparation

In [8]:
df_cleaned = df.copy()

In [9]:
from draft.features.dates import convert_to_date

In [10]:
df_cleaned = convert_to_date(df_cleaned, ["tpep_pickup_datetime", "tpep_dropoff_datetime"])

In [11]:
df_cleaned[['tpep_pickup_datetime', 'tpep_dropoff_datetime']].head()

  tpep_pickup_datetime tpep_dropoff_datetime
0  2020-04-01 00:41:22   2020-04-01 01:01:53
1  2020-04-01 00:56:00   2020-04-01 01:09:25
2  2020-04-01 00:00:26   2020-04-01 00:09:25
3  2020-04-01 00:24:38   2020-04-01 00:34:38
4  2020-04-01 00:13:24   2020-04-01 00:18:26

In [12]:
duration_secs = (df_cleaned['tpep_dropoff_datetime'] - df_cleaned['tpep_pickup_datetime']).dt.total_seconds() 

duration_secs

0         1231.0
1          805.0
2          539.0
3          600.0
4          302.0
           ...
237988    1200.0
237989     300.0
237990     333.0
237991    1296.0
237992    1033.0
Length: 237993, dtype: float64

In [13]:
df_cleaned['trip_duration'] = duration_secs
df_cleaned['trip_duration'].describe()

count    237993.000000
mean        676.211834
std        2670.839134
min           0.000000
25%         267.000000
50%         450.000000
75%         753.000000
max      214482.000000
Name: trip_duration, dtype: float64

Convert the trip duration columns into 5 different bins with [0, 300, 600, 1800, 300000]

In [14]:
trip_duration_bins = pd.cut(
    x=df_cleaned['trip_duration'], 
    bins=[-1, 300, 600, 1800, 300000],
    labels=[0, 1, 2, 3]
)
trip_duration_bins.describe()

count     237993
unique         4
top            1
freq       82401
Name: trip_duration, dtype: int64

In [15]:
df_cleaned['trip_duration'] = trip_duration_bins

In [16]:
df_cleaned['tpep_pickup_month'] = df_cleaned['tpep_pickup_datetime'].dt.month 
df_cleaned['tpep_pickup_month'].describe()

count    237993.000000
mean          3.999063
std           0.041343
min           1.000000
25%           4.000000
50%           4.000000
75%           4.000000
max           4.000000
Name: tpep_pickup_month, dtype: float64

In [17]:
df_cleaned['tpep_pickup_datetime'].describe()

count                           237993
mean     2020-04-16 06:39:07.645296384
min                2009-01-01 01:11:17
25%                2020-04-08 12:01:23
50%                2020-04-16 12:39:15
75%                2020-04-24 06:18:25
max                2020-04-30 23:59:42
Name: tpep_pickup_datetime, dtype: object

In [18]:
df_cleaned['tpep_pickup_hourofday'] = df_cleaned['tpep_pickup_datetime'].dt.hour 
df_cleaned['tpep_pickup_hourofday'].describe()

count    237993.000000
mean         13.158181
std           5.038561
min           0.000000
25%           9.000000
50%          13.000000
75%          17.000000
max          23.000000
Name: tpep_pickup_hourofday, dtype: float64

In [19]:
df_cleaned['tpep_pickup_dayofweek'] = df_cleaned['tpep_pickup_datetime'].dt.weekday
df_cleaned['tpep_pickup_dayofweek'].describe()

count    237993.000000
mean          2.740408
std           1.805267
min           0.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           6.000000
Name: tpep_pickup_dayofweek, dtype: float64

In [20]:
df_cleaned.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'trip_duration',
       'tpep_pickup_month', 'tpep_pickup_hourofday', 'tpep_pickup_dayofweek'],
      dtype='object')

In [21]:
from sklearn.preprocessing import OneHotEncoder 

ohe = OneHotEncoder(drop='first', sparse_output=False)
ohe.set_output(transform='pandas') 

ohm = ohe.fit_transform(df_cleaned[['VendorID', 'RatecodeID', 'store_and_fwd_flag']]) 

ohm.head()

,VendorID_2.0,VendorID_nan,RatecodeID_2.0,RatecodeID_3.0,RatecodeID_4.0,RatecodeID_5.0,RatecodeID_6.0,RatecodeID_99.0,RatecodeID_nan,store_and_fwd_flag_Y,store_and_fwd_flag_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
df_cleaned.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID'], axis=1, inplace=True) 
df_cleaned.columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'store_and_fwd_flag', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'trip_duration', 'tpep_pickup_month',
       'tpep_pickup_hourofday', 'tpep_pickup_dayofweek'],
      dtype='object')

In [23]:
datasets_dir = os.path.join(data_dir, "interim") 

df_cleaned.to_csv(os.path.join(datasets_dir, "df_cleaned.csv"), index=False) 

os.listdir(datasets_dir)

['df_cleaned.csv', '.gitkeep']

## Data Splitting

In [24]:
from draft.data.sets import split_sets_random 

target = df_cleaned.pop('trip_duration') 

X_train, X_val, X_test, y_train, y_val, y_test = split_sets_random(
    df_cleaned, 
    target, 
    test_ratio=0.2, 
    seed=5, 
    as_type='numpy',
    ret_dict=False 
)

In [25]:
from draft.data.sets import save_sets 

save_dir = os.path.join(data_dir, "processed") 

save_sets(
    use_globals=globals(), 
    featurenames=df_cleaned.columns.tolist(), 
    save_dir=save_dir
)

/home/bened/DataScience/AMLA/labs/5/model-interpretation/data/processed/X_train.npy
/home/bened/DataScience/AMLA/labs/5/model-interpretation/data/processed/y_train.npy
/home/bened/DataScience/AMLA/labs/5/model-interpretation/data/processed/X_val.npy
/home/bened/DataScience/AMLA/labs/5/model-interpretation/data/processed/y_val.npy
/home/bened/DataScience/AMLA/labs/5/model-interpretation/data/processed/X_test.npy
/home/bened/DataScience/AMLA/labs/5/model-interpretation/data/processed/y_test.npy

## Baseline Model

In [26]:
from sklearn.dummy import DummyClassifier

In [27]:
base_model = DummyClassifier()

In [29]:
base_model.fit(X_train, y_train)
y_base = base_model.predict(X_train)

In [37]:
len(np.unique(y_base))

1

In [39]:
len(np.unique(y_train))

4

In [48]:
from draft.model.eval import print_classifier_scores 

print_classifier_scores(
    y_base, 
    y_train, 
    metrics={
        "accuracy_score": {}, 
        "f1_score": {
            "average": "weighted"
            }
    }, 
    set_name="baseline"
    )

Evaluation metrics for baseline
***************************************************************************
accuracy_score: 0.3460275219720578
f1_score: 0.17790876339095918

{'baseline_accuracy_score': 0.3460275219720578,
 'baseline_f1_score': np.float64(0.17790876339095918)}